OPENAI_API_KEY= # https://platform.openai.com/settings/profile?tab=api-keys
ARWEAVE_KEY= # https://www.base64encode.org/

# Coinbase SDK - wallets
CDP_API_KEY_ID=your-api-key-id
CDP_API_KEY_SECRET=your-api-key-secret
CDP_WALLET_SECRET=your-wallet-secret
CDP_PAYMASTER_URL=your-paymaster-url

# MiniKit Configuration
NEXT_PUBLIC_CDP_CLIENT_API_KEY=# your cdp api key id
NEXT_PUBLIC_ONCHAINKIT_PROJECT_NAME=gpt-image-1
NEXT_PUBLIC_ICON_URL=https://base-image-generator.vercel.app/base-logo.png
NEXT_PUBLIC_URL=https://base-image-generator.vercel.app
NEXT_PUBLIC_VERSION=next
NEXT_PUBLIC_IMAGE_URL=https://base-image-generator.vercel.app/thumbnail.png
NEXT_PUBLIC_SPLASH_IMAGE_URL=https://base-image-generator.vercel.app/base-logo.png
NEXT_PUBLIC_SPLASH_BACKGROUND_COLOR=FFFFFF
 
# Farcaster Integration (generate with minikit cli)
FARCASTER_HEADER=# generate with minikit cli
FARCASTER_PAYLOAD=# generate with minikit cli
FARCASTER_SIGNATURE=# generate with minikit cli