OPENAI_API_KEY= # https://platform.openai.com/settings/profile?tab=api-keys
ARWEAVE_KEY= # https://www.base64encode.org/

# Coinbase SDK - wallets
CDP_API_KEY_ID=your-api-key-id
CDP_API_KEY_SECRET=your-api-key-secret
CDP_WALLET_SECRET=your-wallet-secret
CDP_PAYMASTER_URL=your-paymaster-url